* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 29, 29);
    padding: 10px 20px;

}

.navbar .burgger {
    display: none;
}

.navbar img {
    width: 60%;
    height: 60px;
}

.navbar h1 {
    font-size: 20px;

    color: white;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    /* margin-right: 20px; */

}

ul li {

    color: white;
}

ul li a {
    color: white;
}

@media(max-width:600px) {
    .navbar ul {
        display: none;
    }

    .navbar .burgger {
        display: block;
      
    }

    .burgger {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: white;
        height: 8px;
        width: 45px;
        margin-bottom: 10px;
    }

    .burgger.line1,.line2,.line3 {
        width:  50%;
        height: 7vh;
        
        
    }
}

/* .hero section */


.hero {

    height: 90vh;
    background-image: url(assets/bk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
}

.hero .content {
    width: 505px;
    height: 245px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .content h3 {
    color: whitesmoke;
    font-size: 30px;

}

.hero .content h1 {
    font-size: 40px;
}

@media(max-width:850px) {
    .hero {
        background-position: left;
        justify-content: center;
        padding-left: 0;
        padding: 0 20px;
    }

    .hero .content {
        width: 305px;
        height: 250px;
        padding: 0 20px;
        gap: 20px;
    }

    .hero .content h3 {
        font-size: 15px;
    }

    .hero .content h1 {
        font-size: 20px;
        line-height: 20px;
    }

}

/* .about section */

.about {
    background-color: rgb(11, 103, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 105px 0;
    gap: 70px;
}

.about h2 {
    font-size: 40px;

}

.aboutcard img {
    width: 80px;
}

.about .about.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px;
}

.about .about.container .aboutcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.about .about.container .aboutcard h3 {
    font-size: 25px;
}

@media(max-width:850px) {
    .about {
        padding: 105 0;
        gap: 20px;
    }
}

/* sction services */
.service {
    background-color: rgb(11, 103, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 105px 0;
    gap: 80px;
}

.service h2 {
    font-size: 40px;


}

.service .services.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.service .services.container .services.card h3 {
    font-size: 25px;

}

@media(max-width:850px) {
    .service {
        padding: 105 0;
        gap: 20px;
    }
}

/* projects section */
.project {
    background-color: rgb(11, 103, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 105px 0;
    gap: 80px;
}

.project h2 {
    font-size: 35px;
}

.projects.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.project .projects.container .projects.card h3 {
    font-size: 25px;
}

@media(max-width:850px) {
    .project {
        padding: 105 0;
        gap: 20px;
    }
}

/* footer */

.footer {
    width: 100%;
    background-color: rgb(49, 116, 137);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 105px;
    padding: 40px 150px;
    gap: 80px;
}



.footer .topfooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;

}

.footer .topfooter .contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.footer .topfooter h2 {
    font-size: 40px;
    color: rgb(40, 35, 35);

}

.footer .topfooter h2 span {
    display: block;
}

footer .topfooter h3 {
    font-size: 25px;
}

.footer .topfooter .contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.footer .phone .email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.footer .phone img {
    width: 30px;
}

footer .email {
    display: flex;
    justify-content: center;
    align-items: center;


}

.footer .email img {
    width: 30px;
}

.footer .topfooter .contact.img {
    width: 550px;
    height: 400px;


}

.footer .buttomfooter {
    border-top: 1px solid black;
    width: 130%;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


@media(max-width:850px) {
    .footer .topfooter {
        flex-direction: column-reverse;

    }

    .footer {


        padding: 30px 30px;
        gap: 50px;
    }

    .footer .topfooter .contact.img {
        width: 300px;
        height: auto;

    }

}